<h1> Count <%= @count %></h1>
<button phx-click="increment">+</button>
<button  phx-click="decrement">-</button>

<div>
    <%= live_component @socket, GatheringWeb.NotesLiveComponent, session: @session, id: :notes_component %>
</div>
