<div>
    <%= live_component @socket, GatheringWeb.SearchLiveComponent, session: @session, id: :search_component %>
    <div style="display: flex; flex-wrap: wrap">
        <%= if length(@cards) > 0 do %>
            <%= for {id, card_name, scryfall_id} <- @cards do %>
            <div>
                <div><%= card_name %></div>
                <div style="width:200px;height:279px">
                    <img src="<%= "https://api.scryfall.com/cards/#{scryfall_id}?format=image" %>">
                </div>
                <div style="width:100%; text-align:center">
                    <button phx-click="remove_card" value="<%= id %>">Remove</button>
                </div>
            </div>
            <% end %>
        <% end %>
    </div>
    <%= live_component @socket, GatheringWeb.NotesLiveComponent, session: @session, id: :notes_component %>
</div>
